*{
  margin: 0;
  padding: 0;
  text-align: center;
}

form{
  display: inline-block;
  border: 2px solid black;
  padding: 5px;
}

h2{
  display: block;
}

#activities{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.gain{
  color: green;
}

.loss{
  color: red;
}
