<!DOCTYPE html>
<html>
  <head>
    <title>The Ninja Homepage!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Welcome to the Offical* Ninja Landing Page!</h1>
    <p>*(no legal proof denoting consent on behalf of any group claiming ownership to the title "Ninja")</p>
    <ul>
      <li><a href="/ninjas">Click here to read about Ninjas!</a></li>
      <li><a href="/dojos/new">Click here to become a Ninja!</a></li>
    </ul>
  </body>
</html>
