<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h2>Did you know?</h2>
    <ul>
      <li>Ninjas can tell the time from a cat's eye!</li>
      <li>Ninjas have built in GPS!</li>
      <li>Ninjas sleep in trees!</li>
      <li>Ninjas are like Bear Grylls, but with less body fluid drinking!</li>
      <li>Ninjas carry crickets so they can let people know when they're bored!</li>
      <li>Ninjas fight one on one, like in Mortal Kombat!</li>
      <li>Ninjas never take off their shoes!</li>
      <li>Ninjas are the master of many weapons!</li>
      <li>Ninjas are walking anacoustic chambers!</li>
      <li>Ninjas can't get blood from a stone, but they might be able to get poison from it!</li>
      <li>Ninjas refuse to wear orange, black is still in for them!</li>
      <li>Ninjas throw gang signs out the window!</li>
      <li>Ninjas faked footprints in the mud before it was cool!</li>
      <li>Ninjas invented the flashlight!</li>
      <li>Ninjas can walk on water!</li>
      <li>Ninjas are just grown up Boy Scouts!</li>
      <li>Ninjas are the bomb!</li>
    </ul>
  </body>
</html>
